@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* globals.css */


header {
  background-color: #333;
  padding: 10px 20px;
}

/* NAVIGATION BAR */

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  max-height: 50px;
  margin: 0 auto;
}

.nav-left,
.nav-right {
  display: flex;
  align-items: center;
}

.nav-left a,
.nav-right a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  margin: 0 10px;
}

.nav-left a:hover,
.nav-right a:hover {
  text-decoration: underline;
}

.nav-logo img {
  height: 100px;
  width: 100px;
  margin-bottom: -30px;
}

main {
  padding: 20px;
  text-align: center;
}

section.text-section {
  margin: 20px 0;
}

section.image-section {
  margin: 20px 0;
}

