@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Bobby Jones Soft';
  src: url('/fonts/BobbyJonesSoft.otf') format('opentype');
}

@font-face {
  font-family: 'Roboto Mono';
  src: url('/fonts/RobotoMonoRegular.ttf') format('truetype');
}


:root {
  --background: #FFF0DC;
  --foreground: #000000;
  --orange: #FF9E21;
  --pink: #FE4566;
  --pink-background: #F3CFC6;
}

body {
  color: var(--foreground);
  background: var(--orange);
  font-family: 'Roboto Mono';
}

main {
  padding: 20px;
  text-align: center;
  background-color: var(--orange);
  color: var(--foreground)
}

h1 {
  font-family: 'Bobby Jones Soft';
  font-size: 45px;
}

p {
  font-size: 1.2rem;
  line-height: 1.6;
  max-width: 60%;
}

.title-plus-description {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.title {
  font-family: 'Bobby Jones Soft';
  font-size: 45px;
}

.description {
  font-size: 1.2rem;
  line-height: 1.6;
  max-width: 60%;
  padding-top: 20px;
}

/* NAVIGATION BAR */

nav {
  background-color: var(--pink);
  color: var(--pink-background);
  height: 70px;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0; 
  left: 0; 
  width: 100%; 
  z-index: 1000; 
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  max-height: 50px;
  margin: 0 auto;
}

.nav-left {
  display: flex;
  align-items: center;
  position: fixed;
  left: 20px;
  border-radius: 10px;
}

.nav-right {
  display: flex;
  align-items: center;
  /* border: 2px solid #333; */
  position: fixed;
  right: 20px;
  gap: 10px;
}

.nav-left a,
.nav-right a {
  text-decoration: none;
  font-size: 18px;
  margin: 0 10px;
}

.nav-left a:hover,
.nav-right a:hover {
  text-decoration: underline;
}

.nav-logo {
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translate(-50%, 0);
}

.logo {
  display: block;
  width: 100%;
  height: auto;
}

/* FOOTER */

footer {
  background-color: var(--pink);
  color: var(--pink-background);
  height: 70px;
}

/* FIRST BLOCK */

.homepage-section {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


/* IMAGE CLASSES */

.images-row {
  width: 80%;
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
  height: 400px;
}

.image-container {
  border-radius: 6px;
  overflow: hidden; 
  display: block; 
  position: relative;
  flex-grow: 1; 
}

.image-container:hover img {
  transform: scale(1.1); 
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.image-container img {
  transition: transform 0.3s ease; 
  position: absolute; 
  top: 0;
  left: 0;
  width: 100%; 
  height: 100%; 
  object-fit: cover; 
}

.image-wide {
  right: 0;
  width: 65%;
}

.image-narrow {
  width: 30%;
}

.homepage-welcome-section-image-left {
  flex: 1; 
}

.homepage-welcome-section-image-right {
  flex: 3; 
}



/* THIRD BLOCK */

.customers-reviews {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.customers-reviews h1 {
  text-align: center;
  color: black;
  font-size: 45px;    
  width: 70%;
  padding-bottom: 60px;
} 

/* FOURTH BLOCK */
.fourth-block {
  text-align: center;
  height: 350px;
  padding-top: 80px;
}


/* CATERING PAGE */

.catering-page {
  padding-top: 120px;
}

.catering-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.catering-page-container h1 {
  padding-bottom: flex;
}

@media (max-width: 799px) {
  .title {
    font-size: 32px
  }

  .description {
    font-size: 1rem;
    line-height: 1.6;
    max-width: 90%;
    padding-top: 20px;
  }

  .homepage-welcome-section-image-right {
    display: none; 
  }
}